html, body {
  font-family: 'Cabin', sans-serif;
  background-color: white;
}

.wrapper {
  /* border: 1px dotted red; */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.wrapper>div {
  /* border: 1px dashed black; */
}
.title {
  grid-column: 1 / span 2;
  grid-row: 1;
}
.timer {
  grid-column: 3 / span 4;
  grid-row: 1;
}
.clock {
  grid-column: 1 / span 2;
  grid-row: 2;
}
.teams {
  grid-column: 1 / span 2;
  grid-row: 3;
}
.whatson {
  grid-column: 3 / span 4;
  grid-row: 2 / span 2;
}
.sponsors {
  grid-column: 1 / span 2;
  grid-row: 4 / span 2;
}


.title {
  margin-right: 2vw;
  background-image: url('img/hack24.png');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: contain;
}

.title>span {
  display: none;
}

.timer {
  color: #D41C2B;
  font-family: 'Inconsolata', monospace;
  font-size: 11vw;
  vertical-align: middle;
}

.clock {
  font-family: 'Inconsolata', monospace;
  text-align: center;
  font-size: 5vw;
}

.teams {
  text-align: center;
  font-size: 4vw;
}
.hackers {
  text-align: center;
  font-size: 4vw;
}

.whatson {
  font-size: 3vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.whatson ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sponsors {
  background-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: initial;
  transition: background-image 0.1s ease;
}
.sponsors span {
  display: none;
}
.sponsors::after{
  position: absolute; width:0; height:0; overflow:hidden; z-index:-1;
  content:
    url('img/sponsors/A-MHR.png')
    url('img/sponsors/B-Esendex.png')
    url('img/sponsors/C-Experian.png')
    url('img/sponsors/D-ThomsonReuters.png')
    url('img/sponsors/E-eLife.png')
    url('img/sponsors/F-Microsoft.png')
    url('img/sponsors/G-Unidays.png')
    url('img/sponsors/H-CapitalOne.png')
    url('img/sponsors/I-Starling.png')
    url('img/sponsors/J-Cordius.png')
    url('img/sponsors/K-Stkrs.png')
    url('img/sponsors/L-GitHub.png')
    url('img/sponsors/M-HeartInternet.png')
    url('img/sponsors/N-Liberis.png');
}


.sponsor_mhr {
  background-image: url('img/sponsors/A-MHR.png');
}
.sponsor_esendex {
  background-image: url('img/sponsors/B-Esendex.png');
}
.sponsor_experian {
  background-image: url('img/sponsors/C-Experian.png');
}
.sponsor_tr {
  background-image: url('img/sponsors/D-ThomsonReuters.png');
}
.sponsor_elife {
  background-image: url('img/sponsors/E-eLife.png');
}
.sponsor_microsoft {
  background-image: url('img/sponsors/F-Microsoft.png');
}
.sponsor_unidays {
  background-image: url('img/sponsors/G-Unidays.png');
}
.sponsor_capitalone {
  background-image: url('img/sponsors/H-CapitalOne.png');
}
.sponsor_starling {
  background-image: url('img/sponsors/I-Starling.png');
}
.sponsor_cordius {
  background-image: url('img/sponsors/J-Cordius.png');
}
.sponsor_stkrs {
  background-image: url('img/sponsors/K-Stkrs.png');
}
.sponsor_github {
  background-image: url('img/sponsors/L-GitHub.png');
}
.sponsor_hi {
  background-image: url('img/sponsors/M-HeartInternet.png');
}
.sponsor_liberis {
  background-image: url('img/sponsors/N-Liberis.png');
}
